.gallery {
  width: calc(100% - 40px);
  margin: 0 20px;
  display: inline-block;
  position: relative;
  z-index: 2;

  .grid {
    display: flex;
    margin: -20px;
    opacity: 0;
    visibility: hidden;

    .grid-sizer,
    .grid-item {
      margin: 20px 0;
      width: calc((100% - 4 * 40px) / 5);
      box-sizing: border-box;

      a {
        display: inline-block;
        position: relative;
        overflow: hidden;

        &::before {
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          border-top: 1px solid get-color(c-blue, v-100);
          border-left: 1px solid get-color(c-blue, v-100);
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.3s ease;
        }

        &::after {
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          border-bottom: 1px solid get-color(c-blue, v-100);
          border-right: 1px solid get-color(c-blue, v-100);
          position: absolute;
          bottom: 0;
          right: 0;
          transition: all 0.3s ease;
        }

        img {
          transition: all 0.3s ease;
          position: relative;
          z-index: 3;

          &:hover {
            transform: scale(1.1);
            opacity: 0.5;
          }
        }

        &:hover::before,
        &:hover::after {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}