@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Fonts
$font-main: "Poppins", serif;

$colors: (
  c-black: (
    v-200: #111111,
    v-100: #000000,
  ),
  c-blue: (
    v-100: #1820dd,
  ),
  c-white: (
    v-100: #FFFFFF,
  ),
);

$spaces: (
  xxs: 8px,
  xs: 16px,
  sm: 32px,
  md: 40px,
  lg: 48px,
  xl: 60px,
  xxl: 72px,
  xxxl: 80px,
  xxxx: 100px,
  xxxxx: 120px
);