@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

body {
  font-family: $font-main;
  color: get-color(c-white, 'v-100');
  
  p {
    font-family: $font-main;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;

    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}