.btn-contact-us {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 9;

  @media (max-width: 767px) {
    display: none;
  }

  a {
    width: 136px;
    height: 30px;
    line-height: 30px;
    font-family: $font-main;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 0;
    right: -53px;
    background: get-color(c-yellow, 'v-100');
    color: get-color(c-black, 'v-100');
    text-decoration: none;
    display: block;
    transform: rotate(-90deg);
    border-radius: 5px 5px 0 0;
    cursor: pointer;

    &:hover {
      background: get-color(c-black, 'v-100');
      color: get-color(c-white, 'v-100');
    }
  }
}

.go-bottom {
  position: fixed;
  right: 72px;
  bottom: 58px;
  z-index: 9;
  display: inline-block;
  width: 63px;
  height: 63px;
  border: 1px solid get-color(c-black, 'v-100');
  cursor: pointer;
  transition: border 0.3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background: get-color(c-blue, 'v-100');
    transition: all 0.3s ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url('../images/icons/arrow-down_dark.svg') center center no-repeat;
  }

  @media (max-width: 767px) {
    right: 10px;
    bottom: 10px;
    width: 46px;
    height: 46px;
  }

  &:hover {
    border: 1px solid get-color(c-blue, 'v-100');

    &::before {
      width: 102%;
      height: 102%;
    }
  }

  &--back {
    border: 1px solid get-color(c-white, 'v-100');

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 0;
      height: 0;
      transform: translate(-50%, -50%);
      background: get-color(c-black, 'v-100');
      transition: all 0.3s ease-in-out;
    }

    &::after {
      background: url('../images/icons/arrow-up_white.svg') center center no-repeat;
    }

    &:hover {
      border: 1px solid get-color(c-black, 'v-100');
    }
  }
}

.page-footer {
  background: get-color(c-blue, 'v-100');
  padding: var(--space-xl) 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

  h3,
  h4,
  ul {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 100%;
    margin: 0 0 var(--space-xl) 0;
  
    h3 {
      letter-spacing: 9px;
    }
  
    ul {
      display: flex;
      flex-direction: row;
      gap: var(--space-sm);
      list-style-type: none;
  
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 14px;
      }
    }
  }

  &__cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  
    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }
  
    h3,
    h4 {
      line-height: 16px;
      letter-spacing: 2.5px;
    }
  
    h3 {
      margin: -6px 0 var(--space-xs) 0;
    }
  
    h4 {
      margin-bottom: 2px;
    }
  
    &__info,
    &__address {
      p {
        line-height: 22px;
        margin: 0;
        padding: 0;
      }
  
      h4 {
        &.top-space {
          margin-top: var(--space-xs);
        }
      }
  
      ul {
        line-height: 22px;
  
        li {
          a {
            color: get-color(c-black, 'v-100');
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  
    &__info {
      @media (max-width: 1024px) {
        order: 3;
        flex: 1 1 100%;
        margin-top: 30px;
        padding: 45px 0 35px;
        border-top: 1px solid get-color(c-black, 'v-100');
        border-bottom: 1px solid get-color(c-black, 'v-100');
  
        h3 {
          margin-bottom: 27px;
        }
  
        h4 {
          margin-bottom: 15px;
        }
      }
    }
  
    &__address {
      @media (max-width: 1024px) {
        order: 4;
        flex: 1 1 100%;
        padding: 45px 0 40px;
      }
    }
  
    &__sm {
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--space-xs);
        width: 76px;
  
        @media (max-width: 1024px) {
          gap: 20px;
        }
  
        li {
          width: 33px;
  
          @media (max-width: 1024px) {
            width: 43px;
          }
  
          a {
            width: 33px;
            height: 33px;
            display: inline-block;
            font-size: 0;
            text-indent: -9999px;
            vertical-align: middle;
            background-size: contain;
  
            @media (max-width: 1024px) {
              width: 43px;
              height: 43px;
            }
          }

          &.linkedin a {
            background: url('../images/icons/sm-linkedin_dark.svg') center center no-repeat;
            background-size: contain;
  
            &:hover {
              background: url('../images/icons/sm-linkedin_white.svg') center center no-repeat;
              background-size: contain;
            }
          }
  
          &.instagram a {
            background: url('../images/icons/sm-instagram_dark.svg') center center no-repeat;
            background-size: contain;
  
            &:hover {
              background: url('../images/icons/sm-instagram_white.svg') center center no-repeat;
              background-size: contain;
            }
          }
  
          &.tiktok a {
            background: url('../images/icons/sm-tiktok_dark.svg') center center no-repeat;
            background-size: contain;
  
            &:hover {
              background: url('../images/icons/sm-tiktok_white.svg') center center no-repeat;
              background-size: contain;
            }
          }
  
          &.youtube a {
            background: url('../images/icons/sm-youtube_dark.svg') center center no-repeat;
            background-size: contain;
  
            &:hover {
              background: url('../images/icons/sm-youtube_white.svg') center center no-repeat;
              background-size: contain;
            }
          }
        }
      }
  
      @media (max-width: 1024px) {
        order: 5;
  
        h3 {
          display: none;
        }
      }
    }
  
    &__menu {
      ul {
        margin-top: -11px;
  
        li {
          margin-bottom: 5px;
  
          a {
            font-family: $font-heading;
            font-size: 16px;
            line-height: 1em;
            letter-spacing: 2.5px;
            position: relative;
            text-decoration: none;
            color: get-color(c-black, 'v-100');
  
            &::before,
            &::after {
              content: '';
              position: absolute;
              width: 0;
              height: 1px;
              background: get-color(c-white, 'v-100');
              transition: width 0.5s ease-in-out;
            }
  
            &::before {
              top: -5px;
              left: 0;
            }
  
            &::after {
              bottom: -2px;
              right: 0;
            }
  
            &:hover {
              color: get-color(c-white, 'v-100');
  
              &::before,
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  
    &__astudio {
      margin-top: -5px;
  
      @media (max-width: 1200px) {
        img {
          width: 107px;
          height: auto;
        }
      }
  
      @media (max-width: 1024px) {
        order: 6;
        margin-top: 0;
      }
    }
  
    &__menu--footer-menu-one {
      @media (max-width: 1024px) {
        order: 1;
      }
    }
  
    &__menu--footer-menu-two {
      @media (max-width: 1024px) {
        order: 2;
      }
    }
  }
}