.page-header {
  position: relative;
  z-index: 2;

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: padding 0.3s ease;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__brand {
    a {
      img {
        width: auto;
        height: 30px;
        vertical-align: middle;
      }
    }
  }

  &__sm {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      gap: 10px;

      li {
        a {
          text-indent: -99999px;
          display: inline-block;
          width: 25px;
          height: 25px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &.instagram {
          a {
            background-image: url('../images/icons/sm-instagram_blue.svg');

            &:hover {
              background-image: url('../images/icons/sm-instagram_white.svg');
            }
          }
        }

        &.email {
          a {
            background-image: url('../images/icons/envelope_blue.svg');

            &:hover {
              background-image: url('../images/icons/envelope_white.svg');
            }
          }
        }
      }
    }
  }

  @media print {
    display: none;
  }
}
